<a href="https://colab.research.google.com/github/noeyxos/python/blob/master/Python_05_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Class 의 사용법

class MyClass:
  pass    #구현을 하나도 안했을 때 쓰는 키워드

In [ ]:
print(id(MyClass))

72982720

In [ ]:
class Person:
  Name = 'Default Name'

  def Print(self): 
    print('My Name is {0}'.format(self.Name))   #this 와 같은 의미 자기자신을 의미함.

In [ ]:
p1 = Person()

In [ ]:
p1.Name='윤하'
p1.Print()

My Name is 윤하

In [ ]:
p1 = Person()
p2 = Person()

In [ ]:
p1.Name ='박보검'
p2.Name ='민아'
p1.Print()
p2.Print()

My Name is 박보검
My Name is 민아

In [ ]:
Person.Title = 'New Title'

In [ ]:
print(p1.Title)
print(p2.Title)

New Title
New Title

In [ ]:
p1.Age = 30

In [ ]:
print(p1.Age)
print(p2.Age)

30

AttributeError: ignored

In [ ]:
#Class의 상속
class Person:
  pass

In [ ]:
class Student(Person):
  pass

In [ ]:
class Bird:
  pass

In [ ]:
p = Person()
s = Student()

In [ ]:
#isinstance 인스턴스 관계를 확인하는 함수
isinstance(p,Person)
isinstance(s,Person)
isinstance(s,object)    #파이썬 객체는 모두 object의 자손이다 
isinstance(int, object) #정수형도 object의 속성을 상속받아 만든 개념이다

True

In [ ]:
#생성자 소멸자 메소드 
class MyClass:
  def __init__(self): #생성자
    print('class is created')

In [ ]:
my = MyClass()
del my  #인스턴트 지우기

class is created

In [ ]:
class Person:
  Name =''
  Age = 0
  def __init__(self,name,age):
    self.Name = name
    self.Age = age
  def __del__(self):
    print('{0} 잘살다 갑니다.'.format(self.Name))

  def PrintName(self):
    print(self.Name)
    print(self.Age)

In [ ]:
p = Person('황비홍',40)
p.PrintName()
del p

황비홍
40
황비홍 잘살다 갑니다.

In [ ]:
#정적(Static) 메소드
class CounterManager:
  InsCount = 0

  def __init__(self):
    CounterManager.InsCount += 1
  def PrintInstanceCount():   #정적메소드로 전환
    print('Instance Count:', CounterManager.InsCount)

  StaticCount =staticmethod(PrintInstanceCount) #정적메소드라고 정의해줌

In [ ]:
a = CounterManager()
b = CounterManager()
c = CounterManager()

In [ ]:
CounterManager.PrintInstanceCount() #Class를 직접 사용하는 것은 금기

Instance Count: 5

In [ ]:
p = CounterManager()
p.StaticCount()

Instance Count: 6

In [ ]:
# 상속의 심화
class Person:

  def __init__(self,name,phone):
    self.Name = name
    self.Phone = phone

  def PrintInfo(self):
    print('Info(Name:{0}, Phone {1}'.format(self.Name, self.Phone))

  def PrintPersonData(self):
    print('Person(Name:{0}, Phone {1}'.format(self.Name, self.Phone))

In [ ]:
class Student(Person):
  def __init__(self,name,phone,subject,studentID):
    self.Name = name
    self.Phone = phone
    self.Subject = subject
    self.StudentID = studentID

In [ ]:
p = Person('박보검','010-1111-1111')
s = Student('민아','010-2222-2222','학생회장','0001')

In [ ]:
print(p.__dict__)  #해당 딕셔너리 내용 확인가능
print(s.__dict__)

{'Name': '박보검', 'Phone': '010-1111-1111'}
{'Name': '민아', 'Phone': '010-2222-2222', 'Subject': '학생회장', 'StudentID': '0001'}

In [ ]:
s.PrintInfo()

Info(Name:민아, Phone 010-2222-2222

In [ ]:
#상속관계를 확인
issubclass(Student, Person)

True

In [ ]:
issubclass(Person,Student)

False

In [ ]:
class Student(Person):
  def __init__(self,name,phone,subject,studentID):
    self.Name = name
    self.Phone = phone
    self.Subject = subject
    self.StudentID = studentID

    Person.__init__(self,name,phone)  #부모 클래스 호출

  def PrintStudentData(self):
    print('Student(Name {0}, StudentID {1})'.format(self.Name, self.StudentID))

  def PrintPersonData(self):  #오버라이드(재정의)
    print('{0}님의 전공은 {1}입니다.'.format(self.Name, self.Subject))

In [ ]:
s = Student('민아','010-2222-2222','Computer','0001')
s.PrintStudentData()

Student(Name 민아, StudentID 0001)

In [ ]:
s.PrintPersonData()

민아님의 전공은 Computer입니다.

In [ ]:
# 다중 상속

class Tiger:
  def Jump(self):
    print('호랑이 점프')

In [ ]:
class Lion:
  def Bite(self):
    print('사자의 물기')

In [ ]:
class Liger(Tiger,Lion):
  def Play(self):
    print('라이거의 놀기')

In [ ]:
l= Liger()
l.Jump()
l.Bite()
l.Play()

호랑이 점프
사자의 물기
라이거의 놀기